@mixin disFlexWithStyles($gap: 20px) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $gap;
}

@mixin disFlexColumn($gap: 5px) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}
