@use "../../styles/mixin.scss" as *;
.filters {
  @include disFlexColumn(20px);
  max-width: 270px;
  width: 100%;
  padding: 20px;
  border: 1px solid #c1c0c0;
  border-radius: 10px;
  .filters_title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 4px;
  }
  .filters_each {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .filters_eachTitle {
      font-size: 14px;
      font-weight: 500;
      color: #333;
    }
    .filters_eachLabel {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 15px;
      color: #444;
      padding: 5px;
      border-radius: 4px;
      transition: all 0.5s;
      cursor: pointer;
      input {
        cursor: pointer;
      }
      &:hover {
        color: #000;
      }
    }
    .activeParamStyle {
      background: #e0f2fe;
    }
    input[type="number"],
    select {
      padding: 8px 10px;
      border-radius: 6px;
      border: 1px solid #dcdcdc;
      outline: none;
      margin-top: 6px;
      transition: all 0.5s ease;
      &:focus {
        border-color: #888;
      }
    }
    select {
      cursor: pointer;
    }
  }
  .filters_reset {
    padding: 8px;
    background: rgb(216, 78, 78);
    color: white;
    border-radius: 10px;
    border: 1px solid rgb(216, 78, 78);
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
      background: white;
      color: rgb(216, 78, 78);
    }
  }
}
