@use "../../styles/mixin.scss" as *;
.filters {
  @include disFlexColumn(20px);
  flex-direction: column;
  max-width: 270px;
  width: 100%;
  padding: 20px;
  border: 1px solid #c1c0c0;
  border-radius: 10px;
  align-self: flex-start;
  .filters_titles {
    @include disFlexWithStyles(20px);
    justify-content: space-between;
    .filters_mainTitle {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 4px;
    }
    p {
      font-size: 25px;
      cursor: pointer;
    }
  }
  .filters_all {
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    .filters_each {
      @include disFlexColumn(10px);
      .filters_eachTitle {
        font-size: 14px;
        font-weight: 500;
        color: #333;
      }
      .filters_eachLabel {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 15px;
        color: #444;
        padding: 5px;
        border-radius: 4px;
        transition: all 0.5s;
        cursor: pointer;
        input {
          cursor: pointer;
        }
        &:hover {
          color: #000;
        }
      }
      .activeParamStyle {
        background: #e0f2fe;
      }
      input[type="number"],
      select {
        padding: 8px 10px;
        border-radius: 6px;
        border: 1px solid #dcdcdc;
        outline: none;
        margin-top: 6px;
        transition: all 0.5s ease;
        &:focus {
          border-color: #888;
        }
      }
      select {
        cursor: pointer;
      }
    }
    .filters_reset {
      padding: 8px;
      background: rgb(216, 78, 78);
      color: white;
      border-radius: 10px;
      border: 1px solid rgb(216, 78, 78);
      cursor: pointer;
      transition: all 0.5s;
      &:hover {
        background: white;
        color: rgb(216, 78, 78);
      }
    }
  }
  @media screen and (max-width: 1024px) {
    max-width: 200px;
  }
  @media screen and (max-width: 768px) {
    max-width: 100%;
    .filters_all {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(2, minmax(150px, 1fr));
      .filters_each {
        max-width: 290px;
        width: 100%;
      }
      .filters_reset {
        grid-column: 1 / -1;
      }
    }
  }
  @media screen and (max-width: 565px) {
    .filters_all {
      .filters_priceAll,
      .filters_rateAll {
        grid-column: 1/-1;
        max-width: 100%;
      }
    }
  }
  @media screen and (max-width: 424px) {
    max-width: 100%;
    .filters_all {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(1, minmax(100px, 1fr));
      .filters_each {
        max-width: 290px;
        width: 100%;
      }
      .filters_reset {
        grid-column: 1 / -1;
      }
    }
  }
}
